<div>
    <a ng-link="['Primero']">Primero</a>
    <a ng-link="['Segundo',{id:4}]">Segundo</a>
    <a ng-link="['Forms']">Forms</a>
    <a ng-link="['Selects']">Selects</a>
    <a ng-link="['Directivas']">Directivas</a>
    <a ng-link="['Complex']">Complex</a>
    <a ng-link="['Advanced']">Advanced</a>
    <a ng-link="['Ejemplo']">Ejemplo</a>
    <br />

    <table>
        <tr ng-repeat="client in vm.clients">
            <td>{{client.id}}</td>
            <td>{{client.name}}</td>
            <td>
                <button ng-click="vm.update(client)">Update</button>
                <button ng-click="vm.delete(client)">Delete</button>
            </td>
        </tr>
    </table>

    <form ng-submit="vm.create(cliente)">
        <div forminput>
            <label>ID</label>
            <input ng-model="cliente.id" placeholder="Id" />
        </div>
        
        <input ng-model="cliente.name" placeholder="Name" />
        <input type="submit" value="Save" />
    </form>
    <directive></directive>
    <ng-outlet></ng-outlet>
</div>